@import url('https://fonts.googleapis.com/css2?family=REM:wght@600;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* Tag selectors */

/* *{
    margin: 0;
} */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: #F7FFE5;
    font-family: "Roboto Condensed" !important;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 2rem !important;
}

main{
    flex-grow: 1;
}



/* Navbar section */

.brand-title{
    font-size: 3.5rem !important;
    color: #F7FFE5 !important;
    margin: 2% 3% 1%;
}

.sub-title{
    font-size: 1.5rem;

}

#navbar{
    font-family: "REM";
    background-color: #A0C49D;
    font-size: 2.5rem;
}


/* Passcard */
#copyPass

.pass-card{
    background-color: #E1ECC8 !important;
    
}

.pass-buttons{
    width: 50%;
}

#password{
    background-color: #F7FFE5;
    display: block;
    text-align: center;
    margin: 2% auto 7%;
    width: 50%;
    height: 60%;
    border: 1px solid black;
}


/* Properties section */
.rounded{
    border:1px solid;
}

.pass-length-label{
    text-align: end;
}

.checkbox-section{
    text-align: start;
}

.pass-prop-label{
    text-align: end;
}



/* Media querries */

@media (min-width: 992px){
    .pass-length-prop{
        width: 50%;
        text-align: center;
    }
    .pass-length-label{
        text-align: center;
    }
    .pass-prop-label{
        text-align: center;
    }

}



/* Classes used through DOM manipulation */
.disabled{
    color: #aaa;
    pointer-events: none;
}